#!/bin/sh

con=hvc0
tty -s && con=hvc2

img={{#qn_image}}{{qn_image}}{{/qn_image}}{{^qn_image}}infix-x86_64.img{{/qn_image}}
imgsz=$((($(stat -Lc %s $img) + 1023) >> 10))
imgdir=./.$(realpath $img | sed -e s:/:-:g)

unsquashfs -n -f -d $imgdir $img boot/bzImage >/dev/null

{{> inc/infix-disk}}

exec qemu-system-x86_64 -M pc,accel=kvm:tcg -cpu max {{#qn_mem}}-m {{qn_mem}}{{/qn_mem}} \
{{> inc/qemu-links}}
  -kernel $imgdir/boot/bzImage -drive file=$img,if=virtio,format=raw \
{{> inc/infix-common}}
